body,html{
    background-color:black;
    color:white;
    font-family: arial;
      width: 100%;
      height: 100vh;
       overflow-x: hidden;
      
  }
  .game{
    /* text-align: center;
    justify-items: center; */
    border:solid;
    width:40rem;
    background-color: black;
    border-style: hidden;
    margin-left:30%;
    margin-top:6rem;
 
  }
  .title{
    font-size:27px;
    font-weight: bold;
    color: white;
    margin-left:11px;
  }
  .move-icon{
    height: 50px;
  }
  .move-iconn{
    height:43px;

  }
  .move-button{
    background-color:white;
    border:3px solid black;
    width: 100px;
    height: 100px;
    border-radius:70px;
    margin-right:10px;
    cursor: pointer;
  }
  .buttons{
    /* margin-left:5rem; */
    margin-top:4rem;
    margin-left:17px;
  }
  .result{
    font-size:25px;
    font-weight: bold;
    margin-top:50px;  
  }
  .score{
    /* margin-top:60px; */
  }
  .reset-score-button,.auto-play-button{
    background-color:rgb(252, 205, 63);
    color:black;
    padding:8px 15px;
    border: none;
    font-size:15px;
    border-radius:20px;
    cursor: pointer;
    margin:2rem;
  }
  .down_buttons{
    /* margin-left:5rem; */
    margin-top:6rem;
    margin-left:13px;
    
  }
  @media screen and (max-width:780px) {
    body,html{
      overflow-x: hidden;
}
.game{
margin-left:0%;
}
  }