*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: auto;
    background-color:white;
    color: black;
}
.header1{
    display: flex;
    background-color: rgb(241, 178, 3);
    justify-content: space-between;
    padding: 5px;;

}
.call,h3{
    margin-left:2%;
    color:rgba(255, 255, 255, 0.945);
    font-size:15px;
}
.list1,ul,li{
    display: flex;
    list-style: none;
    margin-right:20px;
    
}
.list1,ul,li,a{
    text-decoration:none;
    color: rgba(255, 255, 255, 0.945);
}
.list1,ul,li,a:hover{
    color:black;
}
